  <div class="forum-thread">
    <div class="row">
      <span class="votable-container text-center">
        <%= render partial: 'shared/voting', locals: { user: current_user, votable: forum_thread } %>
      </span>

      <%= cache forum_thread do %>

        <div class="col-sm-1 text-center">
          <%= avatar_tag(forum_thread.user.email) %>
        </div>

        <div class="col">
          <h4>

            <%= link_to(
              icon(
                "thumb-tack",
                class: "thumb-tack",
                style: "color: #{forum_thread.forum_category.color + ' !important' if forum_thread.pinned?(current_user)};"
              ),
              simple_discussion.forum_thread_pins_path(forum_thread),
              method: forum_thread.pinned?(current_user) ? 'destroy' : 'create',
            )%>

            <% if forum_thread.solved? %>
              <span class="text-success"><%= icon "check-circle" %></span>
            <% end %>

            <%= link_to simple_discussion.forum_thread_path(forum_thread) do %>
              <%= forum_thread.title %>
            <% end %>
          </h4>

          <div class="thread-details">
            <strong><%= category_link(forum_thread.forum_category) %></strong>
            • <%= t('asked_time_ago', time: time_ago_in_words(forum_thread.created_at), author: forum_thread.user.name) %>
          </div>

          <p class="text-muted"><%= truncate(forum_thread.forum_posts.first.body, length: 200) %></p>
        </div>

        <div class="col-sm-1 posts-counter">
          <%= link_to simple_discussion.forum_thread_path(forum_thread), class: "thread-posts-count" do %>
            <span class="count"><%= forum_thread.forum_posts_count %></span>
            <small><%= t("post", count: forum_thread.forum_posts_count) %></small>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
